@use "sass:color";
@use "normalize.css";
@use "roboto.css";
@use "../node_modules/nprogress/nprogress.css";
@use "../node_modules/photoswipe/dist/photoswipe.css";

@include variables;

* {
  box-sizing: border-box;
}

.theme-change {
  * {
    transition: background 0.2s, background-color 0.2s, border 0.2s;
  }
}

.loader {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1.5px;
}

#nprogress .bar {
  height: 3px;
  background: var(--brand-color);
}

#nprogress .peg {
  box-shadow: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  margin: 0;
}

iframe {
  width: 100%;
  display: block;
}

.v-input,
.v-textarea,
.Ñ-form {

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-internal-autofill-selected {
    -webkit-text-fill-color: var(--black-color);
    transition: background-color 5000s 0s;
  }

  &::placeholder {
    color: var(--grey-color);
  }

  display: block;
  color: var(--black-color);
  background-color: var(--form-bg-color);
  border: 1px solid var(--form-border-color);
  outline: none;
  transition: background-color 0.2s,
  border 0.2s,
  box-shadow 0.2s;

  &:hover {
    background-color: transparent;
    border: 1px solid var(--form-border-color-hover);
    box-shadow: 0 0 0 3px var(--form-shadow);
  }

  &_disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  &_pressed {
    background-color: transparent;
    border: 1px solid var(--form-border-color-active) !important;
    box-shadow: 0 0 0 3px var(--form-shadow);
  }
}

.button {
  padding: 0;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &_disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &_a {
    background: var(--button-a-bg);
    color: var(--black-color);
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 6%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  }

  &_b {
    background: #4683d9;
    color: #fff;
    box-shadow: 0 1px 2px rgb(70 131 217 / 48%), inset 0 -1px 0 rgb(0 0 0 / 12%);

    &:hover {
      background: #437cce;
    }

    &:active {
      box-shadow: inset 0 -1px 0 rgb(0 0 0 / 12%);
    }
  }

  &__label,
  &__icon {
    padding: 0 15px;
  }

  &:active {
    transform: translateY(1px);
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--main-bg);
  overflow-y: scroll;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  z-index: 4;
}

.layout {
  display: flex;
  flex-grow: 1;
}

.content {
  min-width: 0;
  flex-grow: 1;
}

.spacer {
  margin: auto;
}

.sidebar {
  position: relative;
  background: var(--sidebar-bg);
  z-index: 2;
}

.feed-loader {
  padding: 20px;
  max-width: 640px;
  background: var(--island-bg);
  color: var(--black-color);
  border-radius: 8px;
  user-select: none;
}

.img-wrapp {
  overflow: hidden;

  img {
    width: 100%;
    display: block;
  }

  a {
    cursor: zoom-in;
  }
}

.video-wrapp {
  position: relative;
  z-index: 1;
}

.video,
.video__pseudo-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;

  .icon {
    transition: fill-opacity 0.15s, color 0.15s;
    z-index: 1;
  }

  .default-icon {
    width: 48px;
    height: 48px;
    fill: #1f1f1eb5;
    transition: fill 0.15s;
  }

  .youtube-icon {
    color: rgba(31, 31, 30, 0.81);
  }

  .coub-icon {
    width: 90px;
    height: 90px;
    color: rgba(0, 0, 0, 0.6);
  }

  .vimeo-icon {
    width: 66px;
    height: 40px;
    color: #172223bf;
  }
}

.video__pseudo-player {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;

  &.default-player {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  &.embed-player {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.embed-text,
.entry-content-subtitle,
.entry-page__text-block,
.profile-popup__description,
.quote-component__content .author .name,
.quote-component__content .author .description,
.article-component__content .subtitle p,
.entry-page__comment .text,
.list-component ul li {
  a {
    color: var(--blue-color);
    border-bottom: 1px solid var(--link-text-decoration-color);
    cursor: pointer;
  }
}

.embed {
  position: relative;
  display: flex;
  flex-flow: column;
  border: 1px solid var(--embed-border-color);
  border-radius: 8px;
  line-height: normal;
  overflow: hidden;
}

.embed-header {
  margin: 15px 20px;
  display: flex;
  align-items: center;

  &__data {
    margin-left: 10px;
    overflow: hidden;

    .date-time {
      display: inline-block;
      line-height: 20px;
      font-size: 13px;
      color: var(--grey-color);
    }
  }

  &__author-wrap {
    display: flex;
    align-items: center;
  }

  &__author-avatar {
    width: 36px;
    height: 36px;
    min-width: 36px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
    background-size: cover;
  }

  &__author-name {
    overflow: hidden;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
  }

  &__author-tag {
    margin-left: 10px;
    min-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    color: var(--grey-color);
  }

  &__logo {
    padding-left: 15px;
    align-self: flex-start;

    .telegram-logo,
    .twitter-logo {
      width: 20px;
      height: 20px;
    }

    .twitter-logo {
      fill: #1d9bf0;
    }
  }
}

.embed-text__wrap {
  margin: 0 20px 15px;
  font-size: 17px;
  line-height: 26px;
}

.embed-text {
  >br {
    display: block;
    content: "";
    height: 4px;
  }

  &__collapsed-btn {
    margin-left: 5px;
    color: var(--blue-color);
    cursor: pointer;
  }

  >b {
    font-weight: 400;
  }

  >i {
    font-style: normal;
  }

  >p {
    margin: 0;
  }
}

.embed-cover {

  &__img,
  &__video {
    background-color: var(--embed-cover-bg);

    >div {
      margin: 0 auto;
    }
  }

  div:not(:first-child) {
    margin-top: 7px;
  }
}

.person-component {
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .name {
    font-weight: 500;
  }

  .description {
    font-size: 15px;
  }
}

.us-none {
  user-select: none;
}

.start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--start-screen-bg);
  transition: opacity 0.3s;
  z-index: 999;

  &-leave-to {
    opacity: 0;
  }

  >.logo {
    width: 100px;
    height: 100px;
    color: var(--black-color);
    animation: logo-pulse infinite 3s;
  }
}

@media (hover: hover) {

  .embed-text,
  .entry-content-subtitle,
  .entry-page__text-block,
  .profile-popup__description,
  .quote-component__content .author .name,
  .quote-component__content .author .description,
  .article-component__content .subtitle p,
  .entry-page__comment .text,
  .list-component ul li {
    a {
      &:hover {
        color: var(--red-color);
        border-bottom: 1px solid var(--link-text-decoration-color-hover);
      }
    }
  }

  .embed-text__collapsed-btn {
    &:hover {
      color: var(--red-color);
    }
  }

  .video__pseudo-player {
    &:hover {
      .default-icon {
        fill: #1f1f1ee6;
      }

      .youtube-icon {
        color: #ff0000;
      }

      .coub-icon {
        color: #0332ff;
      }

      .vimeo-icon {
        color: #0faef1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 100%;
  }

  .embed-header {
    margin: 15px 15px;

    &__author-tag {
      min-width: 50px;
    }
  }

  .embed-text__wrap {
    margin: 0 15px 15px;
  }

  .quote-component {
    &__content {
      max-width: 225px;
    }
  }

  /* .cover {
    &.cover_vertical {
      padding: 0 15px;

      &.cover_highlighted {
        >div {
          max-width: 75% !important;
        }
      }
    }

    &.cover_highlighted {
      padding: 30px;
    }
  } */

  .feed-loader {
    border-radius: 0;
  }

  .person-component {
    .avatar {
      margin-bottom: 5px;
      width: 100px;
      height: 100px;
    }

    .description {
      font-size: 14px;
    }
  }
}

@keyframes rating-anim-up-enter {
  0% {
    opacity: 0;
    transform: translateY(-12.5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rating-anim-up-leave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(12.5px);
  }
}

@keyframes rating-anim-down-enter {
  0% {
    opacity: 0;
    transform: translateY(12.5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rating-anim-down-leave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-12.5px);
  }
}

@keyframes logo-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1219px) {
  html[data-theme="dark"] {
    --sidebar-bg: #202020;
    --left-sidebar-link-active-bg: #303030;
    --left-sidebar-link-hover-bg: #272727;
  }
}